$white: white;
$light-grey: rgb(85, 85, 85);
$grey: rgb(69, 69, 69);
$black: black;

$blue: rgb(71, 187, 201);
$orange: rgb(242, 108, 81);
$light-brown: rgb(247, 244, 237);
$brown: rgb(210, 194, 187);
$dark-brown: rgb(78, 69, 64);

$primary-color: $orange;
$secondary-color: $blue;

$heading-color: $dark-brown;
$text-color: $dark-brown;
