@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Rubik:400,500,700';

$heading-font: 'Rubik', sans-serif;
$text-font: 'Open Sans', serif;

$font-sizes: (
  'base': (
    'small': 0.9em,
    'medium': 1em,
  ),
  'text-small': 0.9em,
  'h1': 2em,
  'h2': 1.5em,
  'h3': 1.25em,
  'h4': 1.1em,
  'blockquote': 1.75em,
);

$line-height: (
  'base': 2em,
  'small': 1.5em,
);
