@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik+One|Rubik:400,400i,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$alt-font: 'Rubik Mono One', sans-serif;
$heading-font: 'Rubik One', sans-serif;
$text-font: 'Rubik', serif;

$font-sizes: (
  'base': (
    'small': 0.9em,
    'medium': 1em,
  ),
  'text-small': 0.9em,
  'h1': 2.25em,
  'h2': 1.75em,
  'h3': 1.025em,
  'h4': 1.1em,
  'blockquote': 1.75em,
);

$line-height: (
  'base': 2em,
  'small': 1.5em,
);
