.about {
  $content: (
    'padding': 7.5em,
    'width': 65%,
  );

  @include full-width();
  @include section-padding();
  background-color: $light-brown;
  margin-top: 100vh;

  &-inner {
    margin: 0 auto;
    max-width: $inner-width;
  }

  &-content {
    margin-bottom: map-get($section-padding, 'small');

    @include respond-to('large') {
      float: left;
      margin-bottom: 0;
      padding-right: map-get($content, 'padding');
      width: map-get($content, 'width');
    }

    p:first-of-type {
      @include intro();
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &-sidebar {
    margin-bottom: map-get($section-padding, 'small');
    max-width: 360px;

    @include respond-to('large') {
      float: left;
      margin-bottom: 0;
      max-width: none;
      width: calc(100% - #{map-get($content, 'width')});
    }
  }
}
