.contact {
  @include full-width();
  @include section-padding();
  background-color: $light-brown;
  text-align: center;

  &-inner {
    margin: 0 auto;
    max-width: $inner-width;
  }

  &-block {
    margin: 0 auto $spacing;
    max-width: 340px;

    @include respond-to('large') {
      float: left;
      margin-bottom: 0;
      max-width: none;
      padding: 0 20px;
      width: 33.333%;
    }
  }

  &-block-icon {
    $block-width: 120px;

    background-color: $primary-color;
    border-radius: 100%;
    color: $white;
    display: block;
    font-size: 50px;
    height: $block-width;
    line-height: $block-width;
    margin: 0 auto ($spacing / 2);
    text-shadow: 0 5px 0 shade($primary-color, 12.5%);
    transition: $default-transition;
    width: $block-width;

    &:hover {
      transform: rotate(360deg) scale(1.1);
    }
  }

  &-block-title::after {
    margin: 0 auto;
  }

  &-block-paragraph {
    margin-bottom: 0;
  }
}
