.interests {
  $dimension: (
    'tiny': 70px,
    'small': 90px,
    'medium': 110px,
    'large': 130px,
    'huge': 150px,
  );

  @include widget();
  height: 240px;
  position: relative;
  width: 320px;

  .interest {
    @include engraved;
    background-color: $dark-brown;
    border-radius: 100%;
    color: $white;
    position: absolute;
    text-align: center;
    transition: all $animation-speed $animation-easing;

    &:hover {
      background-color: $primary-color;
      opacity: 0.95;
      transform: scale(1.1);
      z-index: 100;
    }

    /**
     * Sizes
     */
    &-tiny {
      font-size: 0.5em;
      height: map-get($dimension, 'tiny');
      line-height: map-get($dimension, 'tiny');
      opacity: 0.5;
      width: map-get($dimension, 'tiny');
    }

    &-small {
      font-size: 0.6em;
      height: map-get($dimension, 'small');
      line-height: map-get($dimension, 'small');
      opacity: 0.6;
      width: map-get($dimension, 'small');
    }

    &-medium {
      font-size: 0.7em;
      height: map-get($dimension, 'medium');
      line-height: map-get($dimension, 'medium');
      opacity: 0.7;
      width: map-get($dimension, 'medium');
    }

    &-large {
      font-size: 0.8em;
      height: map-get($dimension, 'large');
      line-height: map-get($dimension, 'large');
      opacity: 0.8;
      width: map-get($dimension, 'large');
    }

    &-huge {
      font-size: 0.9em;
      height: map-get($dimension, 'huge');
      line-height: map-get($dimension, 'huge');
      opacity: 0.9;
      width: map-get($dimension, 'huge');
    }

    /**
     * Types
     */
    &-music {
      left: 5%;
      top: 40%;
    }

    &-podcasts {
      left: 48%;
      top: 43%;
    }

    &-pop-culture {
      left: 0;
      top: 2%;
    }

    &-technology {
      left: 67%;
      top: 13%;
    }

    &-tv-shows {
      left: 30%;
      top: 0;
    }
  }
}
