.intro {
  $intro: (
    'background': $primary-color,
    'color': $light-brown,
  );

  @include full-height();
  @include full-width();
  background: map-get($intro, 'background') url('../../../assets/img/intro.jpg') no-repeat 30% 20% / cover;
  background-attachment: fixed;
  transition: $default-transition;
  z-index: -1;

  &-inner {
    @include vertical-center;
  }

  &-title {
    @include name();
    color: map-get($intro, 'color');
    margin-bottom: $spacing;
    opacity: 0;
    transition: $default-transition;

    .loaded & {
      opacity: 1;

      &::after {
        width: map-get($dash, 'width');
      }
    }

    &::after {
      background-color: map-get($intro, 'color');
      content: '';
      display: block;
      height: map-get($dash, 'height');
      margin: ($spacing / 2) auto 0;
      transition: $default-transition;
      width: 0;
    }
  }

  &-sub-title {
    color: map-get($intro, 'color');
    font-family: $text-font;
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
    max-width: 720px;
    opacity: 0;
    text-transform: capitalize;
    transform: translateY(100px);
    transition: $default-transition;
    width: 100%;

    @include respond-to('medium') {
      font-size: 3em;
    }

    .loaded & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
