.intro {
  $intro: (
    'background': $primary-color,
    'color': $light-brown,
  );

  @include full-height();
  @include full-width();
  background: map-get($intro, 'background') url('../../../assets/img/intro.png') no-repeat 30% 20% / cover;
  position: fixed;
  z-index: -1;

  &-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &-title {
    @include name();
    color: map-get($intro, 'color');
    margin-bottom: 2em;

    &::after {
      background-color: map-get($intro, 'color');
      content: '';
      display: block;
      height: 4px;
      margin: 1em auto 0;
      width: 120px;
    }
  }

  &-sub-title {
    color: map-get($intro, 'color');
    font-family: $text-font;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.25em;
    margin: 0 auto;
    max-width: 720px;
    text-transform: capitalize;
    width: 100%;

    @include respond-to('medium') {
      font-size: 3em;
    }
  }
}