.life {
  $content: (
    'padding': 7.5em,
    'width': 65%,
  );

  $padding: (
    'small': 2em,
    'medium': 3.25em,
    'large': 4.5em,
  );

  @include full-width();
  background-color: $light-brown;
  margin-top: 100vh;
  padding: (map-get($padding, 'small') * 1.25) map-get($padding, 'small');

  @include respond-to('medium') {
    padding: (map-get($padding, 'medium') * 1.5) map-get($padding, 'medium');
  }

  @include respond-to('large') {
    padding: (map-get($padding, 'large') * 1.75) map-get($padding, 'large');
  }

  &-inner {
    margin: 0 auto;
    max-width: $inner-width;
  }

  &-content {
    margin-bottom: map-get($padding, 'small');

    @include respond-to('large') {
      float: left;
      margin-bottom: 0;
      padding-right: map-get($content, 'padding');
      width: map-get($content, 'width');
    }

    p:first-of-type {
      @include intro();
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &-sidebar {
    margin-bottom: map-get($padding, 'small');
    max-width: 360px;

    @include respond-to('large') {
      float: left;
      margin-bottom: 0;
      max-width: none;
      width: calc(100% - #{map-get($content, 'width')});
    }
  }
}
