.nav {
  @include full-width();
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: $default-transition;
  z-index: 1000;

  .show-nav & {
    background-color: $light-brown;
    box-shadow: 0 4px 0 $primary-color;
    opacity: 1;
    pointer-events: auto;
  }

  &-inner {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 3em;

    @include respond-to('medium') {
      padding: 0 4.5em;
    }
  }

  &-title {
    display: none;

    @include respond-to('medium') {
      @include name();
      color: $heading-color;
      display: block;
      float: left;
      margin-top: 13px;
      transition: $default-transition;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &-list {
    @include remove-list-style();
    height: 50px;
    text-align: center;
    width: 100%;

    @include respond-to('medium') {
      float: right;
      height: inherit;
      text-align: left;
      width: auto;
    }

    li {
      display: inline-block;
      font-size: 0.9em;

      @include respond-to('medium') {
        display: inline;
      }
    }

    a {
      color: $heading-color;
      float: left;
      font-family: $text-font;
      padding: 1em 0.75em;
      text-transform: uppercase;
      transition: $default-transition;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
