.skills {
  @include widget();

  .skill {
    @include engraved();
    @include full-width();
    background-color: $brown;
    border-radius: $border-radius;
    color: $white;
    margin-bottom: 0.75em;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;

    span {
      position: relative;
      z-index: 1;
    }

    &::after {
      background-color: $secondary-color;
      content: '';
      float: left;
      height: 50px;
      left: 0;
      padding: 4px 8px;
      position: absolute;
      top: 0;
      transition: all 1s ease-in-out;
    }

    &.animated {
      &.skill-10::after {
        width: 100%;
      }

      &.skill-9::after {
        width: 90%;
      }

      &.skill-8::after {
        width: 80%;
      }

      &.skill-7::after {
        width: 70%;
      }
    }
  }
}
