.skills {
  @include widget();

  .skill {
    @include engraved();
    @include full-width();
    background-color: $brown;
    border-radius: 3px;
    color: $white;
    margin-bottom: 0.75em;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;

    span {
      position: relative;
      z-index: 1;
    }

    &::after {
      background-color: $secondary-color;
      content: '';
      padding: 4px 8px;
      float: left;
      height: 50px;
      left: 0;
      position: absolute;
      top: 0;
    }

    &-10::after {
      width: 100%;
    }

    &-9::after {
      width: 90%;
    }

    &-8::after {
      width: 80%;
    }

    &-7::after {
      width: 70%;
    }
  }
}
