.super-title {
  &::after {
    background-color: $primary-color;
    content: '';
    display: block;
    height: map-get($dash, 'height');
    margin-bottom: 30px;
    margin-top: 8px;
    width: (map-get($dash, 'width') / 2);
  }
}
