.timeline {
  $timeline-background: $secondary-color;

  @include full-height();
  @include full-width();
  @include section-padding();
  background: $timeline-background url('../../../assets/img/timeline.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  height: auto;
  min-height: 100vh;

  &:after {
    $bar-width: 4px;

    background-color: shade($timeline-background, 65%);
    content: '';
    left: 50%;
    margin-left: -($bar-width / 2);
    min-height: 100%;
    position: absolute;
    top: 0;
    width: $bar-width;
  }

  h2 {
    background-color: shade($timeline-background, 65%);
    color: $white;
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    position: relative;
    width: 180px;
    z-index: 1;
  }

  &-wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }

  &-entry {
    $entry: (
      'offset-horizontal': 440px,
      'offset-vertical': 40px,
      'width': 360px,
    );

    margin: 0 auto 30px;
    max-width: map-get($entry, 'width');
    overflow: auto;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;

    @include respond-to('large') {
      margin: 0 0 30px;
      overflow: visible;
    }
    
    &::before {
      $dimension: 16px;

      @include circle($dimension);
      background-color: shade($timeline-background, 65%);
      left: 50%;
      margin-left: -($dimension / 2);
      position: absolute;

      @include respond-to('large') {
        left: auto;
        margin-left: 0;
        top: 52px;
      }
    }

    &-date {
      @include full-width();
      @include note();
      color: shade($timeline-background, 50%);
      height: map-get($entry, 'offset-vertical');
    }

    &-inner-title {
      @include engraved();
      @include full-width();
      background-color: shade($timeline-background, 65%);
      border-radius: $border-radius $border-radius 0 0;
      color: $white;
      line-height: 1.6em;
      margin-bottom: 0;
      padding: 10px 15px;
      position: relative;

      &::after,
      &::before {
        @include respond-to('large') {
          @include arrow();
          border-right-color: shade($timeline-background, 65%);
        }
      }
    }

    &-inner-content {
      @include full-width();
      background-color: $white;
      border-radius: 0 0 $border-radius $border-radius;
      padding: 15px;

      p {
        font-size: 0.95em;
        line-height: 1.5em;
        margin-bottom: 0;
      }
    }

    &:nth-child(odd) {
      @include respond-to('large') {
        float: right;

        &::before {
          left: -48px;
        }

        .timeline-entry-inner-title::before {
          content: '';
          right: 100%;
        }
      }
    }

    &:nth-child(even) {      
      @include respond-to('large') {
        float: left;

        &::before {
          right: -48px;
        }

        .timeline-entry-inner-title::after {
          content: '';
          left: 100%;
          transform: rotate(180deg);
        }
      }
    }

    &-graduated {
      @include respond-to('large') {
        margin-top: 100px;
      }
    }
  }

  &-year {
    @include engraved();
    background-color: $white;
    color: $timeline-background;
    display: inline-block;
    padding: 5px 15px;
  }
}
